@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@600&family=Roboto:wght@400;700&display=swap');

:root {
  --tomato: hsl(4, 100%, 67%);
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-slate-grey)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* START APP */

.App {
  min-height: 100vh;
  width: 375px;
  margin: 0 auto;
  color: var(--dark-slate-grey);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
}

.App-body {
  padding: 1em 1.5em;
}

ul {
  margin: 2em 0 2.5em;
  padding: 0;
}

ul img {
  padding-right: 1em;
}

li {
  list-style-type: none;
  margin: 1em 0;
  display: flex;
  align-items: start;
}

label,
input,
button {
  display: block;
  width: 100%;
  margin: 1em 0;
  box-sizing: border-box;
}

input,
button {
  padding: 1.2em 0;
  border-radius: 10px;
}

label {
  font-size: 0.8em;
  font-weight: 700;
}

input {
  border: 1px solid var(--grey);
  font-size: 1.05em;
  padding-left: 1.5em;
}

input::placeholder {
  font-size: 1.1em;
}

button {
  font-weight: 700;
  font-size: 1.05em;
  color: var(--white);
  background-color: var(--dark-slate-grey);
  cursor: pointer;
  border: none;
}